
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.Grid_root__2GDws {
    display: grid;
    grid-gap: 0;
    gap: 0;
    grid-template-columns: repeat(1,minmax(0,1fr))
}

@media (min-width: 1024px) {
    .Grid_root__2GDws {
        grid-template-columns:repeat(3,minmax(0,1fr));
        grid-template-rows: repeat(2,minmax(0,1fr))
    }
}

.Grid_root__2GDws>* {
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    grid-row: span 1/span 1;
    height: 500px;
    max-height: 800px
}

@media (min-width: 1024px) {
    .Grid_root__2GDws>* {
        height:inherit;
        grid-column: span 1/span 1
    }
}
.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
    z-index: -1;
  position: absolute;
}
.first{
  display:grid;
    width: 100vw;

  place-items:center;
}
.shoping{
  background-color: blue;
  margin-top: 36vh;
  border-color: white;
    color: white;
    font-size: 20px;
      box-shadow: 0 5px 5px rgba(0,0,0,0.3);

    border-radius: 20px;
    height: 53px;
    width: 150px;

}
.captions {
    font-weight: 500px;
    font-family: Hind,sans-serif;
}
.mycart {
     height: 40px;
    display: grid;
    place-items:center;
    font-size: 23px;
    font:bold;
   background: white;
   margin: auto;
   position: relative;
   overflow: hidden;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 0;
   transform: scale(0.95);
   transition: box-shadow 0.5s, transform 0.5s;
}
.countdowncontainer{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f1f1f1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100vw;
   margin-top: -10vh;
   min-height: 90vh;
   padding: 0 20px;
}
.countdowncontainer h1{
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 23px;
  text-align: center;
}
.countdown{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.countdown article{
  margin: 10px;
}
.countdown p{
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

.countdown h3{
  font-size: 14px;
  text-transform: uppercase;

}
.items {
     height: 80px;

   background: white;
   margin: auto;
   position: relative;
   overflow: hidden;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 0;
   transform: scale(0.95);
   transition: box-shadow 0.5s, transform 0.5s;
}
.fit {
    min-height: calc(100vh - 88px)
}
 .items:hover {
   transform: scale(1);
   box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.itemprices {
     height: 230px;

   background: white;
   margin: auto;
   position: relative;
   overflow: hidden;
   border-radius: 5px 5px 5px 5px;
   box-shadow: 0;
   transform: scale(0.95);
   transition: box-shadow 0.5s, transform 0.5s;
}
 .itemprices:hover {
   transform: scale(1);
   box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper {
     height: 400px;

   background: white;
   margin: auto;
   position: relative;
   overflow: hidden;
   border-radius: 10px 10px 10px 10px;
   box-shadow: 0;
   transform: scale(0.95);
   transition: box-shadow 0.5s, transform 0.5s;
}
 .wrapper:hover {
   transform: scale(1);
   box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.devicer {
  width: 20em;
  display: block;
  height: 1px;
  background-color: #4b4b4d;
  margin: 2px auto 0;
}
 .wrapper .container {
   width: 100%;
   height: 100%;
}
 .wrapper .container .top {
  max-height: 350px;
}
 .wrapper .container .bottom {
   width: 200%;
   height: 20%;
   transition: transform 0.5s;
}
 .wrapper .container .bottom.clicked {
   transform: translateX(-50%);
}
 .wrapper .container .bottom h1 {
   margin: 0;
   padding: 0;
}
 .wrapper .container .bottom p {
   margin: 0;
   padding: 0;
}
 .wrapper .container .bottom .left {
   height: 100%;
   width: 50%;
   background: #f4f4f4;
   position: relative;
   float: left;
}
 .wrapper .container .bottom .left .details {
   padding: 20px;
   float: left;
   width: calc(70% - 40px);
}
 .wrapper .container .bottom .left .buy {
   float: right;
   width: calc(30% - 2px);
   height: 100%;
   background: #f1f1f1;
   transition: background 0.5s;
   border-left: solid thin rgba(0, 0, 0, 0.1);
}
 .wrapper .container .bottom .left .buy i {
   font-size: 30px;
   padding: 30px;
   color: #254053;
   transition: transform 0.5s;
}
 .wrapper .container .bottom .left .buy:hover {
   background: #a6cdde;
}
 .wrapper .container .bottom .left .buy:hover i {
   transform: translateY(5px);
   color: #00394b;
}
 .wrapper .container .bottom .right {
   width: 50%;
   background: white;
   color: black;
   float: right;
   height: 200%;
   overflow: hidden;
}
 .wrapper .container .bottom .right .details {
   padding: 10px;
   float: right;
   width: calc(70% - 40px);
}
 .wrapper .container .bottom .right .done {
   width: calc(30% - 2px);
   float: left;
   transition: transform 0.5s;
   border-right: solid thin rgba(255, 255, 255, 0.3);
   height: 50%;
}
 .wrapper .container .bottom .right .done i {
   font-size: 30px;
   padding: 30px;
   color: green;
}
 .wrapper .container .bottom .right .remove {
   width: 40px;
   clear: both;
   display: grid;
   place-items:center;
   border-right: solid thin rgba(255, 255, 255, 0.3);
   height: 110px;
   background: white;
   transition: transform 0.5s, background 0.5s;
}
 .wrapper .container .bottom .right .remove:hover {
   background: white;
}
 .wrapper .container .bottom .right .remove:hover i {
   transform: translateY(5px);
}
 .wrapper .container .bottom .right .remove i {
   transition: transform 0.5s;
   font-size: 30px;
   padding: 30px;
   color: red;
}
 .wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
   transform: translateY(-100%);
}
 .wrapper .inside {
   z-index: 9;
   background-color: black;
   width: 130px;
   height: 130px;
   position: absolute;
   top: -78px;
   right: -78px;

   border-radius: 0px 0px 200px 200px;
   transition: all 0.5s, border-radius 2s, top 1s;
   overflow: hidden;
}
 .wrapper .inside .icon {
   position: absolute;
   right: 85px;
   top: 85px;
   color: black;
   opacity: 1;
}
 .wrapper .inside:hover {
   width: 100%;
   right: 0;
   top: 0;

   border-radius: 0;
   height: 80%;
}
 .wrapper .inside:hover .icon {
   opacity: 0;
   right: 15px;
   top: 15px;
}
 .wrapper .inside:hover .contents {
   opacity: 1;
   transform: scale(1);
   transform: translateY(0);
}
 .wrapper .inside .contents {
   padding: 5%;
   opacity: 0;
   transform: scale(0.5);
   transform: translateY(-200%);
   transition: opacity 0.2s, transform 0.8s;
}
 .wrapper .inside .contents table {
   text-align: left;
   width: 100%;
}
 .wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
   color: white;
}
 .wrapper .inside .contents p {
   font-size: 13px;
}

.card-body {
    height: 405px;
    background: #fff;
    border-radius: 0 0 25px 25px;
}
 .product-title {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 .product-title b {
    font-weight: 900;
    letter-spacing: 0px;
}
 .badge {
    position: relative;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    background: #11e95b;
    padding: 2px 5px;
    border-radius: 4px;
    top: -2px;
    margin-left: 5px;
}
 .product-caption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
 .product-rating {
    padding: 0 20px;
    font-size: 11px;
}
 .product-rating i.grey {
    color: #acacab;
}
 .product-size h4 {
    font-size: 11px;
    padding: 0 21px;
    margin-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
 .ul-size {
    margin-left: 15px;
}
 .ul-size li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
 .ul-size li a {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    color: #000;
}
 .ul-size li a.active {
    background: #f35e3d;
    color: #fff;
}
 .product-size:before, .product-size:after {
    content: '';
    display: block;
    clear: both;
}
 .product-color h4 {
    font-size: 11px;
    padding: 0 21px;
    margin-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
 .ul-color {
    margin-left: 27px;
}
 .ul-color li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
 .ul-color li a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
 .ul-color li a.orange {
    background: #f35e3d;
}
 .ul-color li a.green {
    background: #11e95b;
}
 .ul-color li a.black {
    background: black;
}
 .ul-color li a.active:after {
    position: absolute;
    content: '';
    display: inline-block;
    border: 1px solid #f35e3d;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-left: -5px;
    margin-top: -5px;
}
 .product-price {
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -13px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}
 .product-price b {
    margin-left: 5px;
}
 .yt {
    position: fixed;
    padding: 7px 10px 3px 10px;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.1);
}
 .yt:hover {
    background: rgba(0, 0, 0, 0.2);
}
 
